*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    color: inherit;
}
/* Comic Image*/

.running {
    display: block;
}

.d2, h2, .d4, .d5{
    color: white;
    text-align: center;
    margin: 0px auto;
    padding-top: 10px;
}
.mI img, .d4 img{
    vertical-align: middle;
    max-width: 100%;
    margin: 0px auto;
    height: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    z-index: 1;
}


body{
    background-color: #1b1b1b;
    height: 3000px;
}


/*Start of Nav Styling */
nav{
    position: static;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    width: 100%;
    background-color: #121212;
    font-family: 'Poppins', sans-serif;
    z-index: 1000;
    }

.logo{
    color: rgb(226,226,226);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
    display: flex;
    justify-content: start;
    align-items: center;
    white-space: nowrap;
    text-decoration: none;
    z-index: 999;
    }

.logo img {
    width: 92px;
    height: 90px;
    float: left;
    padding: 10px;
    border-radius: 100%;
    z-index: 998;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.nav-links li{
    list-style: none;
    white-space: nowrap;
}

.nav-links a{
    color: rgb(226,226,226);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 18px;
}

.nav-links a:hover{
    color: #627D9B;
}


.burger div{
    width: 25px;
    height: 3px;
    background-color: rgb(226,226,226);
    margin: 5px;
    transition: all 0.3s ease;
    
}

.burger{
    display: none;
    cursor: pointer;
}



@media only screen and (max-width:1250px){
    .nav-links{
        width: 50%;
    }

    .nav-links a{
        color: rgb(226,226,226);
        text-decoration: none;
        letter-spacing: 3px;
        font-weight: bold;
        font-size: 14px;
    }
}

/* Use for Mobile Device - Hamburger Menu */
@media only screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        /* right: 0px; sticks links to right side */
        left: 0px;
        height: 33vh;
        max-width: 768px;
        min-width: 768px;
        top: 8vh; /*Puts right under navbar*/
        background-color: #121212;
        display: flex;
        flex-direction: column;
        /* align-items: flex-start; */
        transform: translateY(-100%);
        z-index: -1;
    }
    .nav-links li {
        opacity: 0; /*set to 0 for flashy animation but set to 100 if want to just appear on the slide in function*/ 
        text-align: left;
        margin: 0 95% 0 5%; 
        white-space: nowrap;
    }

    .nav-links li a {
        letter-spacing: 5px;
        font-size: 16px;
    }

    .burger {
        display: block;
    }
     
    /*end here for not flashy animation*/
    /*nav options animation*/
    @keyframes navLinkFade{
        to {
            opacity: 1;
            transform: translateY(50%);
        }
        from {
            opacity: 0;
            transform: translateY(25%);
         }
    }

    .nav-active{
        transition: transform 0.5s ease-in;
        transform: translateY(0%);
        z-index: 100;
    }
}

/*burger to X*/
.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}

/*End of Nav Styling*/

/* Beginning of ChapNav styling */

#chapNav {
    display: flex;
    flex-direction: row;
    justify-content: start;
    height: 46.5px;
    background-color: #303030;
    width: 100%;
    white-space: nowrap;
    padding: 0 0 3px 0;
    border-bottom: solid 1px #515151;
    border-top: solid 1px #515151;
    font-family: 'Helvetica', sans-serif;
}


/* SCROLL VS CLICK TOGGLE SWITCH */
.scrollclick, .sc {
    padding: 5px 4px;
    border-right: solid 1px #515151;
}

.scrollclickswitch {
    position: relative; 
    width: 80px;
    -webkit-user-select:none; 
    -moz-user-select:none; 
    -ms-user-select: none;
}
.scrollclickswitch-checkbox {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}
.scrollclickswitch-label {
    display: block; 
    overflow: hidden; 
    cursor: pointer;
    border: 2px solid #999999; 
    border-radius: 20px;
}
.scrollclick-inner {
    display: block; 
    width: 200%; 
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.scrollclick-inner:before, .scrollclick-inner:after {
    display: block; 
    float: left; 
    width: 50%; 
    height: 30px; 
    padding: 0; 
    line-height: 30px;
    font-size: 14px; 
    color: white; 
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    box-sizing: border-box;
}
.scrollclick-inner:before {
    content: "Click";
    padding-left: 10px;
    background-color: #34A7C1; 
    color: #FFFFFF;
}
.scrollclick-inner:after {
    content: "Scroll";
    padding-right: 10px;
    background-color: #EEEEEE; 
    color: #999999;
    text-align: right;
}
.scrollclick-circle {
    display: block; 
    width: 18px; 
    margin: 6px;
    background: #FFFFFF;
    position: absolute; 
    top: 0; 
    bottom: 0;
    right: 46px;
    border: 2px solid #999999; 
    border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.scrollclickswitch-checkbox:checked + .scrollclickswitch-label .scrollclick-inner {
    margin-left: 0;
}
.scrollclickswitch-checkbox:checked + .scrollclickswitch-label .scrollclick-circle {
    right: 0px; 
}

/* Title Of Comic */
.title h3 {
    color: #f5f7fa;
    padding: 14px 10px 20px;
    font-size: 18px;
    border: none;
    cursor: default;
    width: 130px;
    height: 45px;
    text-align: center;
    border-right: solid 1px #515151;
}

h5 {
    color: #999999;
    padding: 14px 10px 20px;
    font-size: 18px;
    border: none;
    cursor: default;
    width: 130px;
    height: 45px;
    text-align: center;
    border-right: solid 1px #515151;
}

/* Dropdown Styling */

/* Dropdown Button */
.dropbtn {
    background-color: #303030;
    color: #f5f7fa;
    padding: 16px 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    /* width: 100px; */
    height: 45px;
    /* border-bottom: solid 1px white; */
    border-right: solid 1px #515151;
}

/* Hover & Focus Dropdown Button */
.dropbtn:hover, .dropbtn:focus {
    background-color: #1f2933;
}

/* Dropdown Div */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    overflow-y: scroll ;
    max-height: 210px;
    position: absolute;
    background-color:#12121285;
    min-width: 160px;
    z-index: 1;
}

/* Chapters inside dropdown */
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Chapters on hover */
.dropdown-content a:hover {
    background-color:  #1f293385
}

/* JS Reveal CHAPTERS dropdown */
.show {display: block;}


.mini-dropdown {
    height: 20vh;
    display: block;
    margin-left: auto;
}

.stories {
    position: relative;
}

.mini-dropdown button {
    background-image: url('https://raw.githubusercontent.com/MYLownie/PenDo-Productions/master/images/SmolLogo.png');
    background-color: #303030;
    height: 44px;
    width: 55px;
    border: none;
    font-size: 0px;
    color: black;
    cursor: pointer;
    opacity: 0;
    transform: translateX(100%) scale(0.95);
    transition: all 0.3s ease;
}

.dragonbtn.active {
    opacity: 1;
    transform:translateX(0%) scale(1);
    transition: all 0.3s ease;
}

.mini-dropdown button:hover button:focus {
    border: none;
}

.mini-dropdown .miniDrop-content {
    background:  #303030;
    position: absolute;
    right: 0px;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    list-style: none;
    border-radius: 5px;
    opacity: 0; /*HEEEEERE*/
    pointer-events: none;
    transform: translateX(10px);
    transition: all 0.1s ease;
}

.stories li {
    width: 100%;
    height: 100%;
    background: #303030;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
}

.stories li:hover {
background: #1f2933;
}

.stories a {
    color: white;
    text-decoration: none;
}

.mini-dropdown .appear {
    opacity: 1;
    pointer-events: all;
    transform: translateX(0%);
}

/* JS Reveal dropdown */
.show {display: block;}



/* Stick Class - added to chapNav with JS when it reaches scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #121212;
    width: 100%;
}
