body{
    margin: 0;
    /*background-color: blueviolet;*/
}
 header{
     background-color: blue;
     font-family: cursive;
     
 }
 header h1{
    color: cyan;

 }
 main{
     margin: 0px auto;
 }

 main img{
    display: block;
    width:75%;
    margin-left: auto;
    margin-right: auto;
   
 }
 
