body{
    margin: 0;
    /*background-color: blueviolet;*/
}
 header{
     background-color: blue;
     font-family: cursive;
     padding: 0 100px 0 0;
     
 }
 header h1{
    color: cyan;

 }
 main{
    max-width: 800px;
    background-color: brown ;

 }
 